<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>World입니다.</h1>

    <ul style = "list-style-type : none;">
      {% for item in post %}
          <li>제목 : {{ item.title }}</li>
          <li>내용 : {{ item.content }}</li>
      {% endfor%}
    </ul>
  </body>
</html>
